@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica"),
    url("./font/Helvetica.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica-Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica"),
    url("./font/Helvetica-Bold.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url("./font/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: 'Gilroy-Bold';
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"),
    url("./font/Gilroy-Bold.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: 'Gilroy-Light';
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"),
    url("./font/Gilroy-Light.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: 'Gilroy-Medium';
  font-style: normal;
  font-weight: 400;
  src: url('./font/Gilroy-Medium.woff'); /* IE9 Compat Modes */
  src: local('./font/Gilroy-Medium.woff'), local('Gilroy-Medium');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Helvetica';
}
h1, h2, h3, h4, h5, h5 {
  font-family: 'Gilroy-Bold';
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}
.btn {
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FDFDFD;
  border: 1px solid rgba(253, 253, 253, 0.3);
  height: 55px;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;
}
.main-btn {
    background-color: #4374F1;
    padding: 0 40px;
    display: flex;
    align-items: center;
    height: 60px;
    width: max-content;
    outline: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 16px;
    color: #FDFDFD;
    border-radius: 5px;
    cursor: pointer;
}

.main-btn img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-left: 5px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  background-color: #4374F1;
}